<p><%= @user.name%>さんのマイページ</p><br>
<% if @user.avatar.url %>
  <%= image_tag @user.avatar.url %>
  <%= button_to '削除', image_destroy_user_path(current_user), method: :delete %>
<% end %>
<%= form_with model: @user, local: true  do |form| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error_message|%>
      <p><%= error_message%></p>
    <% end %>
  <% end %>
  <%= form.label :email, "新しいEmailを入力してください" %><br>
  <%= form.email_field :email %><br>
  <%= form.label :password, "新しいPasswordを入力してください" %><br>
  <%= form.password_field :password %><br>
  <%= form.file_field :avatar %><br>
  <%= form.submit %>
<% end %>

<%= link_to "トップページへ戻る", root_path%>


