<div id="app">
  <div class="header">
    <%= form_with url: "/search/users/index", method: :get, remote: true do | f | %>
      <%= f.search_field :input, id: "search_form" %>
      <div id="result"></div>

    <% end %>
    <button class="mypage-btn">マイページ</button>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
  <div class="main-box">
    <%= link_to "送信", new_thank_path %>
    <div class="thanks_box">
      <% if @thanks %>
        <% @thanks.each do |th| %>
          <div class="thank">
            <%= link_to "編集", edit_thank_path(th.id) %>
            <%= link_to "削除", thank_path(th.id), method: :delete %>
            <div class="thank_sender">
              <%= th.sender.name %>
            </div>
            <div class="thank_receiver">
              <%= th.receiver.name %>
            </div>
            <div class="thank_text">
              <%= th.text %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="side-bar">
    </div>
  </div>
</div>
<%# <%= javascript_pack_tag 'search_users' %>